body {
	margin: 0;
	background-color: eeeeee;
}


.title{
	text-align: center;
	background-color: 111111;
	color: eeeeee;
	width: 100%;
	font-family: 'PT Serif', serif;
	font-size: 32px;
}

.score{
	text-align: center;
	background-color: 111111;
	color: eeeeee;
	width: 100%;
	bottom: 0;
	left: 0;
	font-family: 'PT Serif', serif;
	font-size: 32px;
	position: absolute;
}

.score .score-text{
	display: inline;
	color: dddddd;
}

.playground{
	border: solid 0.3em;
	width: 75%;
	height: 75%;
	background-color: eeeeee;
	margin: 2% auto;
	border-color: 111111;
	min-width: 200px;
	min-height: 200px;
	display: flex;
	justify-content: center;
}

.player-box{
	width: 100px;
	height: 20px;
	right: 50%;
	background-color: 111111;
	position: absolute;
	transition: transform 10ms linear;
}

.ball-box{
	width: 20px;
	height: 20px;
	bottom: 50%;
	right: 50%;
	border-radius: 50%;
	background-color: 111111;
	position: absolute;
	transition: transform 10ms linear;
	z-index: 1;
}

.brick{
	height: 100%;
	background-color: 222222;
}

.bricks-table{
	width: 80%;
	height: 50%;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	margin-top: 2%;
}

.bricks-table-row{
	min-width: 60%;
	display: flex;
	justify-content: center;	
}