body {
	margin: 0;
	background-color: eeeeee;
}


.title{
	text-align: center;
	background-color: 111111;
	color: eeeeee;
	width: 100%;
	font-family: 'PT Serif', serif;
	font-size: 32px;
}

.playground{
	border: solid 0.3em;
	width: 75%;
	height: 75%;
	background-color: eeeeee;
	margin: auto;
	border-color: 111111;
	min-width: 200px;
	min-height: 200px;
}

.player-box{
	width: 100px;
	height: 20px;
	bottom: 20%;
	right: 50%;
	background-color: 111111;
	position: absolute;
	transition: transform 100ms linear;
}

.ball-box{
	width: 20px;
	height: 20px;
	bottom: 50%;
	right: 50%;
	border-radius: 50%;
	background-color: 111111;
	position: absolute;
	transition: transform 10ms linear;
}

.brick{
	width: 75px;
	height: 20px;
	background-color: 222222;
	position: absolute;
}