body {
	margin: 0;
	background-color: eeeeee;
}


.title{
	text-align: center;
	background-color: 111111;
	color: eeeeee;
	width: 100%;
	font-family: 'PT Serif', serif;
	font-size: 32px;
}

.player-box{
	width: 100px;
	height: 20px;
	bottom: 20%;
	right: 50%;
	background-color: 111111;
	position: absolute;
	transition: transform 100ms linear;
}