body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
  background-color: #fff;
}

/*---------------------------UI Management buttons BEGIN---------------------------------------*/
.show_all { 
    cursor: pointer; 
    text-align: center;
} 

.hide_all { 
    cursor: pointer; 
    text-align: center;
} 

.erase_localstorage { 
  cursor: pointer; 
  text-align: center;
} 

.dark{ 
    background-color: #222; 
    color: #e6e6e6; 
	
} 

.dark img {
		filter: grayscale(20%);
}

.dark .text-dark {
  color:#e6e6e6;
}

.big_sreen_element{
	
}
@media (max-width: 387px) {
  .big_sreen_element{
    display : none;
  }
}
@media screen and (min-width: 388px) and (max-width: 576px) {
  .big_sreen_element{
    display : none;
  } 
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .big_sreen_element{
    display : none;
  }  
}
/*---------------------------UI Management buttons END---------------------------------------*/

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/*---------------------------Section BEGIN---------------------------------------*/
section {
  display: block;
  margin: 0px 0px 0px 70px;
}

.page-section {
  padding: 6rem 0;
}
.page-section h1.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section .section-subheading {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
  line-height: 1.8rem;
}
/*---------------------------Section END---------------------------------------*/

.text-uppercase {
  text-transform: uppercase;
}
.text-muted {
  color: #6c757d;
}
.text-center {
  text-align: center;
}
.text-dark {
  color:#343a40;
}


/*---------------------------For pop up windows---------------------------------------
 ---------------From https://html-online.com/articles/simple-popup-box/ ----------------*/
 
 /* Popup box BEGIN */
 .popup{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index: 3;
overflow-y: auto;
}

.popup .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.popup > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 800px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
cursor:default;
}

.popup > .dark{ 
  background-color: #222; 
  color: #e6e6e6; 
} 

/* Popup Header */
.popup-header {
padding: 16px 16px;
background-color: #343a40;
color: #fff;
border-radius: 8px 8px 0px 0px;
font-size: 1.5rem;
/*padding: 15px 5%;*/
}

.popup-header:hover {
color: #d85720;
}

/* Popup Body */

.popup-body {
padding: 15px 5%;
}

.popup-link{
color: #d85720;
font-size: 1.25rem;
font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-weight: 700;
}

/* --------------------------------------Popup box END------------------------------- */



/*---------------------------Hint BEGIN---------------------------------------*/
hint.on{
  bottom:-63%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 226%;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0px 0px 100px 50px rgb(140, 140, 140,0.25);
  pointer-events: none;
}

.fadeout{
  animation : fade-out 5s;
}

.fadein{
  animation : fade-in 5s;
}

hint.off{
  display: none;
}
/*---------------------------Hint BEGIN---------------------------------------*/

/*---------------------------Picture enhancement BEGIN---------------------------------------*/
pic{
  max-width: 600px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
	margin-left: auto;
  margin-right: auto;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

img{
  max-width: 100%;
  max-height: 100%;
}
/*---------------------------Picture enhancement END---------------------------------------*/


/*---------------------------Progress Bar BEGIN---------------------------------------*/
#visitorProgress {
  width: 100%;
  background-color: #343a40;
  border-radius: 20px;
}

#TheBar {
  width: 13%;
  height: 30px;
  background-color: #d85720;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
  border-radius: 20px;
}
/*---------------------------Progress Bar END---------------------------------------*/

/*---------------------------Dark Mode Switch BEGIN---------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: .5rem;
}

.switch-container {
  align-self: baseline;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
spec.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #23272b;
  -webkit-transition: .4s;
  transition: .4s;
}

spec.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + spec.slider {
  background-color: #d85720;
}

input:focus + spec.slider {
  box-shadow: 0 0 1px #d85720;
}

input:checked + spec.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
spec.slider.round {
  border-radius: 34px;
}

spec.slider.round:before {
  border-radius: 50%;
}
/*---------------------------Dark Mode Switch END---------------------------------------*/

/*---------------------------Unwrap word BEGIN---------------------------------------*/
t {
  position: relative;
  }
 
 t.off {
  }

t.on {
	text-decoration: none;
  color: #d85720;
  padding-bottom: 2px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, #d85720 0%, #d85720 4%, rgba(0, 0, 0, 0) 4%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #d85720 0%, #d85720 4%, rgba(0, 0, 0, 0) 4%);
  -webkit-transition: all 250ms cubic-bezier(0.76, 0, 1, 1);
  transition: all 250ms cubic-bezier(0.76, 0, 1, 1);
  }

t.externallink {
  padding-bottom: 2px;
  padding-top: 2px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, #ffea34 0%, #ffea34 24%, rgba(0, 0, 0, 0) 24%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #ffea34 0%, #ffea34 24%, rgba(0, 0, 0, 0) 24%); }
  t.externallink:hover {
    background-color: #ffea34;
    color: #111; }

t.internallink {
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, #42f4ee 0%, #42f4ee 24%, rgba(0, 0, 0, 0) 24%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #42f4ee 0%, #42f4ee 24%, rgba(0, 0, 0, 0) 24%); }
  t.internallink:hover {
    background-color: #42f4ee;
    color: #111; }
	
t.desactivated{
	
}
/*---------------------------Unwrap word END---------------------------------------*/

/*---------------------------Unwrap blocks BEGIN---------------------------------------*/
span {
	display: none;
  }

span.off {
  animation: fade-out 1s;
  display: none;
  }

span.on {
  display: block; 
  animation: fade-in 1s;
  }
  
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*---------------------------Unwrap blocks END---------------------------------------*/

/*---------------------------Header BEGIN---------------------------------------*/
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*---------------------------Header END---------------------------------------*/

/*---------------------------Container BEGIN---------------------------------------*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.masthead .container img {
  width: 35%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/*---------------------------Container END---------------------------------------*/


/*---------------------------Boxes and Buttons BEGIN---------------------------------------*/
.box {
  border-radius: 25px;
  background-color: grey;
  opacity: 0.9;
  height: 15.5em;
  position: fixed;
  z-index: 1;
  left: 0.5%;
  bottom: 30%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.boxDarkMode {
  border-radius: 25px;
  opacity: 0.9;
  width: auto;
  position: fixed;
  z-index: 4;
  right: 0.5%;
  bottom: 1%;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:hover {
  color: #fff;
  background-color: #23272b; 
  border-color: #1d2124;
}

.btn-text{
  height: 2.5rem;
  width: 11rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: .5rem;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin: .5rem;
}
/*---------------------------Boxes and Buttons  END---------------------------------------*/

/*---------------------------Links  END---------------------------------------*/
a {
  color: #d85720;
  text-decoration: none;
  }

/*---------------------------Links  END---------------------------------------*/

/*---------------------------Navbar BEGIN---------------------------------------*/
.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #343a40;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.navbar .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand img {
  height: 1.5rem;
}

.navbar-toggler {
  padding: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #d85720;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 3px;
  list-style: none;
  margin-left: auto;
  margin-top: 4px
}
.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.nav-item {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 0;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}


.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

.nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link.active, .nav-link:hover {
  color: #d85720;
}


@media (max-width: 991.98px) {
  .navbar-expand > .container{
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-expand .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand > .container{
    flex-wrap: nowrap;
  }
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand .navbar-toggler {
    display: none;
  }
}

/*---------------------------Navbar END---------------------------------------*/


/*---------------------------Entry BEGIN---------------------------------------*/
.entry{
  overflow: hidden;
}
.entry a{
display:block;
width:100%;
position:relative;
margin-top: -20px;
}

.entry .Bckgrd{
top: 0;
left: 0;
transform: translate(0, 0);
transition: transform 0.3s ease-out;
}

.entry a:hover .Bckgrd{
transform: translate(0, 20px);
}


.mobile .entry a .Bckgrd{
transform: translate(0, 0);
transition: none;
}

.entry .overlay{
position:absolute;
top: 0;
width:100%;
height:100%;
z-index: 1;
background-color:rgba(0,0,0,0.8);
text-align:center;
color:#fff;
letter-spacing: 0.25em;
line-height: 1.2;
font-family: 'Calibre-Bold',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",Osaka,"ＭＳ Ｐゴシック", "MS PGothic",sans-serif;
font-weight: 700;
opacity:0;
transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.entry a:hover .overlay{
opacity:1;
transform: translate(0, 20px);
}

.entry .overlay .title{
position: absolute;
width: 100%;
padding: 0 0 1.5%;
bottom: 10px;
font-size: 0.8em;
color: #fff;
transition: transform 0.3s ease-out;
transform: translate(0, -10px);
}

.entry a:hover .overlay .title{
transform: translate(0, 0);
}

.stretch{
  align-self: stretch;
}
/*---------------------------Entry END---------------------------------------*/

/*---------------------------Tables BEGIN---------------------------------------*/
.row{
display: flex;
flex-wrap: wrap;
margin-right: -0.75rem;
margin-left: -0.75rem;
align-items: center;
justify-content: center;
}
.row img{
margin: 1rem 0;
width: 45%;
}
.col-3{
flex: 0 0 33.3333333333%;
max-width: 33.3333333333%;
}
.col-1{
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  }

/*---------------------------Tables END---------------------------------------*/


/*---------------------------Grid BEGIN---------------------------------------*/

.grid-codeProj{
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto; 
  column-gap: 5%;
  row-gap: 50%;
  justify-items: center;
  width: 100%;
}

.aProj{
  text-align: center;
  background-color: #d8572067;
  border-radius: 0.5em;
  border: solid 0.2em;
  border-color: #d85720e1;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.aProj a{
  color: #343a40;
  margin: auto;
}

.dark .aProj a{
  color:#e6e6e6;
}

/*---------------------------Grid END---------------------------------------*/