.ach-area {
    position: fixed;
    z-index: 4;
    top: 15%;
    left: 5%;
    overflow-y: hidden;
  }

  .ani_div {
    width: auto;
    height: auto;
    background-color: #30302e;
    line-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
    animation: 3s ease 0s 1 slideInFromTopSlideOutFromLeft;
  }

  @keyframes slideInFromBottom {
    0% {transform: translateY(100%);}
    10% {transform: translateY(0%);}
    90% {transform: translateY(0%);}
    100% {transform: translateY(100%);}
  }

  @keyframes slideInFromTop {
    0% {transform: translateY(-100%);}
    10% {transform: translateY(0%);}
    90% {transform: translateY(0%);}
    100% {transform: translateY(-100%);}
  }

  @keyframes slideInFromTopSlideOutFromLeft {
    0% {transform: translateY(-100%);}
    10% {transform: translateY(0%);}
    90% {transform: translateX(0%);}
    100% {transform: translateX(-100%);}
  }

  .ani_icon {
    width: 68px;
    height: 68px;
    background-color: black;
    float: left;
    margin: 16px;
    line-height: 70px;
    text-align: center;
  }
  
  .grad {
    background: #30302e; /* For browsers that do not support gradients */
    background: linear-gradient(#d85720e0, #000000e0); /* Standard syntax */
  }
  
  .glyphicon-size {
    font-size: 36px;
  }

  achiev-span {
    color: white;
    font-size: 12px;
    font-family: helvetica;
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
  }

  .ani_div span{
    color: white;
    font-size: 12px;
    font-family: helvetica;
    display: inline-block;
    margin-right: 0.75em;
    /*vertical-align: middle;*/
    line-height: 32px;
  }

  .ani_icon span{
    color: white;
    font-size: 12px;
    font-family: helvetica;
    display: block;
    /*vertical-align: middle;*/
    line-height: 32px;
  }